/* Footer Styles */
footer {
    background-color: #292936;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .footer-section address {
    font-style: normal;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-bottom p {
    font-size: 0.8rem;
    margin: 0;
  }
  