/* cart.css */
body {
  background: radial-gradient(circle at center, black 10%, white 10%);
  background-size: 50px 50px; 
}
.shopping-cart {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.speak-total-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.cart-total {
  font-size: 18px;
  margin-top: 20px;
  text-align: right;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  border: 1px solid #020144;
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
}

.product-image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.cart-details {
  flex-grow: 1;
}

.cart-name {
  font-size: 18px;
}

.cart-description {
  font-size: 14px;
  color: #777;
}

.cart-price {
  font-size: 16px;
}

.cart-quantity {
  font-size: 16px;
  margin-top: 10px;
}

.cart-quantity-input {
  width: 50px;
  padding: 5px;
  font-size: 16px;
}

.cart-remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  margin-left: 10px;
}

.cart-remove-button:hover {
  background-color: #c82333;

  
}
.product-image:hover {
  transform: scale(1.2); /* You can adjust the scale factor as needed */
  transition: transform 0.3s ;
}

.cart-name:hover,
.cart-description:hover,
.cart-price:hover,
.cart-total:hover,
.cart-quantity-input:hover {
  font-size: 20px; /* You can adjust the font size as needed */
  transition: font-size 0.3s ease-in-out;
}
.cart-checkout-button
{
  background-color: #34a11ea8;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 24px;
  cursor: pointer;
  align-self: center;
  margin-left: 10px;
  width: 150px;
  height: 60px;
  border-radius: 5px;
}
.cart-checkout-button:hover
{
  background-color: #91d750;
}