/* Container for the login form */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.logintop
{
  font-weight: bolder;
}

/* Login form */
.login-form {
  background-color: rgba(207, 205, 205, 0.86);
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 500px;
  max-height: 700px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Add the transform property for magnification effect */
}

/* Form title */
.login-form h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

/* Form input fields */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  font-size: 1.2rem;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* Submit button */
.btn-submit {
  background-color: #03274d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Add the transform property for magnification effect */
  margin-top: 10px;
}

/* Magnify the button on hover */
.btn-submit:hover {
  background-color: #2f0351; /* Change the background color on hover */
  transform: scale(1.05); /* Increase the size on hover */
}

/* Registration link */
.registration-link {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  display: inline-block;
}

/* Error message */
.error {
  color: #ff0000;
  margin-top: 10px;
  font-size: 1.4rem;
}
/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
    height: auto;
  }

  .login-form {
    max-width: none;
  }
}
